<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">Simple Blog</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link"><%= link_to "Home", home_path %></li>
      <li class="nav-link"><%= link_to "Create Post", new_post_path %></li>
    </ul>
  </div>
</nav>



<div class="container">
  <%= yield %>
</div>

</body>
</html>
 